@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.container {
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
}

.row,
.btm-row {
  display: flex;
  gap: 2rem;
}

.col,
.btm-col {
  width: 100%;
}

/*.col + .col {
   margin-left: 2rem;
  } */

.hero {
  background-color: #23424a;
  color: #fff;
  padding: 6.25rem 0;
}

.container-text {
  width: 70%;
}

.text-accent {
  color: #87629A;
}

.btn {
  display: inline-block;
  background-color: #38cfd9;
  margin-top: 2rem;
  padding: 0.75em 1.75em;
  border-radius: 6.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btm-container {
  background-color: #136C72;
  color: #fff;
}
